[Unit]
Description=pollinatorcamera overview generation service
After=network.target

[Service]
User=pi
ExecStart=python3 ~/r/braingram/pollinatorcam/services/overview.py
StandardOutput=file:/mnt/data/logs/overview.out
StandardError=file:/mnt/data/logs/overview.err

[Install]
WantedBy=multi-user.target
