[Unit]
Description=pollinatorcamera[%i]
After=network.target

[Service]
User=@@INSTALL_USER@@
Group=@@INSTALL_USER@@
EnvironmentFile=@@CREDS_PATH@@
ExecStart=@@VENV_BIN@@/pcam-run %i
RestartSec=60
Restart=always
StandardOutput=file:/mnt/data/logs/%i.out
StandardError=file:/mnt/data/logs/%i.err
WatchdogSec=30

[Install]
WantedBy=multi-user.target
