[Unit]
Description=uWSGI instance to serve pcam UI
After=network.target nginx.service systemd-tmpfiles-setup.service

[Service]
User=@@INSTALL_USER@@
Group=@@INSTALL_USER@@
WorkingDirectory=@@PCAM_DIR@@
ExecStart=@@VENV_BIN@@/uwsgi --ini @@PCAM_DIR@@/pcam-ui.ini

[Install]
WantedBy=multi-user.target
