[Unit]
Description=pollinatorcamera discover
After=network.target

[Service]
User=@@INSTALL_USER@@
Group=@@INSTALL_USER@@
ExecStart=@@VENV_BIN@@/pcam-discover
RestartSec=300
Restart=always
StandardOutput=file:/mnt/data/logs/discover.out
StandardError=file:/mnt/data/logs/discover.err

[Install]
WantedBy=multi-user.target
