[Unit]
Description=tfliteserve inference server
After=network.target

[Service]
User=@@INSTALL_USER@@
ExecStart=@@VENV_BIN@@/tfliteserve-server
RestartSec=10
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
